<div class="footer-content">
    <ul class="list-footer">
        <li>
            <p>footer works!</p>
            <p>footer works!</p>
            <p>footer works!</p>
        </li>
        <li>
            <p>footer works!</p>
            <p>footer works!</p>
            <p>footer works!</p>
            <p>footer works!</p>
        </li>
        <li>
            <p>footer works!</p>
            <p>footer works!</p>
            <p>footer works!</p>
            <p>footer works!</p>
        </li>
        <li>
            <p>footer works!</p>
            <p>footer works!</p>
            <p>footer works!</p>
        </li>
    </ul>
</div>