.header-content{
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #333C74;
    color: white;
    padding: 10px;
}

/*============= search =============*/
.serach-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    height: 30px;
}

/*============ notifications ===============*/

.actions-header{
    width: 150px;
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.chart{
    margin-right: 20px;
}

/*============= User ==============*/

.exeple-people{
    display: flex;
}

.user-reader{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 10px;
}

.info-user-header{
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a{
    color: white;

}

.img-people{
    width: 50px;
    height: 50px;
    border-radius:50% ;
    border: 2px solid #ffffff;
    padding: 2px;
}

.btn-exit{
    background-color: red;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    width: 70px;
    height: 30px;
}


/*========== Responsivo ===========*/
@media (max-width: 720px){
    .header-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .user-reader {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}