<div class="header-content">
    <h1>CRUD COMPLETO</h1>
    <div class="user-reader" *ngIf="loginValid; else loginNotValid">
        <img class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVcnWgn3s6Z_ZzIX59q7YdvcSq11QeotrmLw&usqp=CAU" alt="" class="img-people">
        
        <div class="info-user-header">
            <p>{{userName}}</p>
            <a href="">Editar usuário</a>
        </div>
        <div class="notifications">
            <mat-icon matBadge="15" class="cursor" matBadgeColor="warn">
                <i class="material-icons" [matMenuTriggerFor]="notfMenu">
                    notifications
                </i>
                <mat-menu #notfMenu="matMenu" class="options-menu-user">
                    <button mat-menu-item >Notificação perfil</button>
                    <button mat-menu-item >Mais informações</button>
                    <button mat-menu-item >Mais informações</button>
                    <button mat-menu-item >Mais informações</button>
                    <button mat-menu-item >Mais informações</button>
                    <button mat-menu-item >Mais informações</button>
                    <button mat-menu-item >Mais informações</button>
                    <button mat-menu-item >Mais informações</button>
                    <button mat-menu-item >Mais informações</button>
                    <button mat-menu-item >Mais informações</button>
                    <button mat-menu-item >Mais informações</button>
                    <button mat-menu-item >Mais informações</button>
                    <button mat-menu-item >Mais informações</button>
                </mat-menu>
            </mat-icon>
            <i class="material-icons cursor" >
                settings
            </i>
        </div>
        <a href="">
            <button class="btn-exit">Sair</button>
        </a>
    </div>
    <ng-template #loginNotValid>
       <button class="button" (click)="loginPage()">LOGIN</button>
    </ng-template>
</div>