<div class="view">
    <div class="content-view">
        <h1>Home</h1>
        <div class="view-home">
            <mat-card class="user-card" *ngFor="let user of users" >
                <div class="box-menu-user">
                        <button mat-flat-button class="btn-menu-user" [matMenuTriggerFor]="appMenu">...</button>
                        <mat-menu #appMenu="matMenu" class="options-menu-user">
                            <button mat-menu-item >Visitar perfil</button>
                            <button mat-menu-item >Mais informações</button>
                        </mat-menu>
                </div>
            
                <img class="img" src="{{user.url}}" alt="">
                <p>{{user.userName}}</p>
                    <button mat-raised-button color="primary">Seguir</button>
            </mat-card >
        </div>
    </div>
   
</div>