<div class="view">
    <div class="content-view">
        <h1>Home</h1>
        <div class="item-list">
            <mat-card class="item-content">
                
                <img class="img" src="https://www.iplace.com.br/ccstore/v1/images/?source=/file/v3475483175970887300/products/220842.00-apple-iphone-13-128gb-meianoite-mlpf3br-a.jpg&height=470&width=470&height=470&width=470&quality=0.8" alt="">
                <p>Carlos Dantas</p>
                <p class="v">R$ 20.0000,00</p>
                <button mat-raised-button color="primary" >Adicionar</button>
                <div class="action-user">
                    <button>...</button>                
                </div>
            </mat-card>
        </div>
    </div>
   
</div>