button{
    width: auto;
    height: auto;
}

.view-home{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.box-menu-user{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.options-menu-user{
    min-width: 100px;
}

.user-card{
    padding: 5px;
    margin: 10px;
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.btn-menu-user{
    width: 10px;
}

