<div class="view-profile">
    <div class="content-view">
        <mat-card class="mat-card">
            <img src="https://www.balmerlawrie.com/img/main_images/inside_banner/travel-banner1.jpg" alt="" class="user-banner">
            <div class="user-infos">
                <img src="{{user.url}}" alt="" class="img">
                <mat-card-title>
                    <p>{{user.userName}}</p>
                </mat-card-title>
            </div>
            <mat-card class="post-card">
                <mat-card-title>
                    <p>Criar um post</p>
                </mat-card-title>
                <textarea class="textarea" id="msg" name="msg" rows="4" cols="50" placeholder="No que você esta pensado ?"></textarea>
            </mat-card>
            <mat-card class="post-card" *ngFor="let post of user.post">
                <h1>{{post.title}}</h1>
                <p>{{post.content}}</p>
                <button class="cursor like">
                    <i class="material-icons" >
                        thumb_up_alt
                    </i>
                    {{post.likes}}
                </button>
                <mat-card class="coment" *ngFor="let coment of post.coments">
                    <p >{{coment.content}}</p>
                    <button class="cursor like">
                        <i class="material-icons" >
                            thumb_up_alt
                        </i>
                        1000
                    </button>
                </mat-card>
                <div>
                    <input type="text" placeholder="Comentar">
                    <button>Enviar</button>
                </div>
            </mat-card>
        </mat-card>
        
    </div>
</div>


