.view-profile{
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-banner{
    width: 100%;
    min-height: 25%;
}

.user-infos{
    position: relative;
    bottom: 50px;
}

.post-card{
    margin: 5px 0;
    background-color: #015085;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.coment{
    background-color: #5d9ac2;
    color: white;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}