<div class="login-content">
    <form class="form-login" >
        <mat-card-title>
            <h1>Login</h1>
        </mat-card-title>
        <mat-form-field>
            <input matInput name="userName" [(ngModel)]="username" placeholder="Usuário">
        </mat-form-field>
        <mat-form-field>
            <input matInput name="password" type="text" [(ngModel)]="password" placeholder="Senha">
        </mat-form-field>
        <div *ngIf="loginValid; else loginNotValid">
            <h1 class="erro-login">login invalido</h1>
        </div>

        <ng-template #loginNotValid>
        </ng-template>
        <button class="green button" type="submit" (click)="salvar()">Save</button>
        <button class="red button" type="submit">Cadastre-se</button>
    </form>
</div>
    