mat-form-field{
    width: 100%;
}

.navigate-content{
    width: 100%;
    
}

.login-content{
    width: 100%;
    min-height: 90vh;
    
}

.form-login{
    margin: 100px 0;
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.try-login{
    margin-top: 10px;
    text-decoration: underline;
}

.erro-login{
    margin-top: 10px;
    color: red;
    text-decoration: underline;
}

.actions-login{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
