<div class="login-content">
    <form class="form-login" >
        <mat-card-title>
            <h1>Login</h1>
        </mat-card-title>

        <mat-form-field>
            <input matInput name="userName" [(ngModel)]="username" placeholder="Usuário">
        </mat-form-field>

        <mat-form-field>
            <input matInput name="password" type="text" [(ngModel)]="password" placeholder="Senha">
        </mat-form-field>
        
        <ng-template #loginNotValid>
            <p class="try-login">Digite seu login e senha !</p>
        </ng-template>
        <div class="actions-login">
            <button class="green button" type="submit" (click)="salvar()">Save</button>
            <button class="red button" type="submit">Cadastre-se</button>
        </div>
        <div *ngIf="loginValid; else loginNotValid">
            <p class="erro-login">Usuário e/ou senha invalidos !</p>
        </div>
       
    </form>
</div>
    