<div class="navigate-content">

    <div class="login-page" *ngIf="!loginValid; else loginNotValid">
        <app-login></app-login>
    </div>
    <ng-template #loginNotValid >
        <div class="nav-bar">
            <a href="/home">      
                <button class="option button">
                        Home
                </button>
            </a>
            <a  href="/users">
                <button class="option button">
                        Usuários
                </button>
            </a>
        </div>
        <div class="content-nav" >
            <router-outlet ></router-outlet>
           
        </div>
        <mat-card class="home-post">
            <mat-card-title>
               Lembretes de hoje
            </mat-card-title>
            <mat-card class="card-task">
                <div class="task"> 
                    <p>Cortar grama</p>
                    <p>20/05/2022</p>
                    <p>Feito</p>
                </div>
            </mat-card>
             <mat-card class="card-task">
                <div class="task"> 
                    <p>Cortar grama</p>
                    <p>20/05/2022</p>
                    <p>Feito</p>
                </div>
            </mat-card>
            <mat-card class="card-task">
                <div class="task"> 
                    <p>Cortar grama</p>
                    <p>20/05/2022</p>
                    <p>Feito</p>
                </div>
            </mat-card>
            <mat-card class="card-task">
                <div class="task"> 
                    <p>Cortar grama</p>
                    <p>20/05/2022</p>
                    <p>Feito</p>
                </div>
            </mat-card>
            <mat-card class="card-task">
                <div class="task"> 
                    <p>Cortar grama</p>
                    <p>20/05/2022</p>
                    <p>Feito</p>
                </div>
            </mat-card>
            <mat-card class="card-task">
                <div class="task"> 
                    <p>Cortar grama</p>
                    <p>20/05/2022</p>
                    <p>Feito</p>
                </div>
            </mat-card>
            <mat-card class="card-task">
                <div class="task"> 
                    <p>Cortar grama</p>
                    <p>20/05/2022</p>
                    <p>Feito</p>
                </div>
            </mat-card>
        </mat-card>
    </ng-template>
</div>
