<div class="view">
    <div class="content-view">
        <h1>Usuários</h1>
        <a href="/users/create">
            <button class="green button">Novo Usuário</button>
        </a>
        <div class="search">
            <mat-form-field class="search-user-field">
                <input class="search-user" placeholder="Buscar usuários" matInput [(ngModel)]="searchName" name="searchName">
            </mat-form-field>
        </div>
        <p>Resultados para: {{searchName}}</p>
        <table mat-table [dataSource]="users">

            <!-- Id Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef >Código</th>
                <td mat-cell *matCellDef="let user">{{user.id}}</td>
            </ng-container>
      
             <!-- img Column -->
            <ng-container matColumnDef="url" >
                <th mat-header-cell *matHeaderCellDef ></th>
                <td mat-cell *matCellDef="let user">
                    <img src="{{user.url}}" alt="" class="img">
                </td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="name" >
              <th mat-header-cell *matHeaderCellDef >Name</th>
              <td mat-cell *matCellDef="let user">{{user.userName}}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="cpf" >
                <th mat-header-cell *matHeaderCellDef >CPF</th>
                <td mat-cell *matCellDef="let user">{{user.cpf}}</td>
            </ng-container>
        
            <!-- Banance Column -->
            <ng-container matColumnDef="price" >
                <th mat-header-cell *matHeaderCellDef >Saldo</th>
                <td mat-cell *matCellDef="let user">
                    <div class="directivTest">
                        <!--This part show green if the banace is bigger then 0, else show balance red!--> 
                        <div *ngIf="(user.price < 0)  ; else notRed">
                            <p> {{user.balance | currency:'BRL'}}</p>
                        </div>
                        <ng-template #notRed >
                            <p> {{user.balance | currency:'BRL'}} </p>
                        </ng-template>
                    </div>
                </td>
            </ng-container>
            
            <!-- action Column -->
            <ng-container matColumnDef="action" >
                <th mat-header-cell *matHeaderCellDef >Ações</th>
                <td mat-cell *matCellDef="let user">
                    <button routerLink="update/{{ user.id }}" class="edit action button">
                        <i class="material-icons ">
                            edit
                        </i>
                    </button>
                    <button (click)="delete(user.id)" class="delete action button">
                        <i class="material-icons delete">
                            delete
                        </i>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>


