.search{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-user-field{
    margin-top: 10px;
    width: 100%;
}

.search-user{
    width: 100%;
}
