.search{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-user-field{
    margin-top: 10px;
    width: 100%;
}

.search-user{
    width: 100%;
}

.view{
    width: 100%;
}

.action{
    background-color: transparent;
    width: 50px;
}

/*============modal==============*/

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(163, 163, 163, 0.603);
}

.card-modal{
    background-color: white;
    padding: 5px;
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.actions-modal{
    display: flex;
    justify-content: space-around;
}